@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Estilos generales
   Mobile First */
   
    
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
    background-color: rgb(249, 243, 233);
}


header{
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align:right;
    grid-area: header;
    
    }

    
    .logo{
    
        grid-area: logo;
        height: 28px;
        justify-self: center;
              
        }
    
        .ulFlex{
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto auto auto auto;
            grid-template-areas: "logo logo     logo         logo     logo"
                                 "home nosotros contabilidad finanzas contacto";
            gap: 5%;
            list-style: none;
            justify-content: center;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 10px;
            margin-right: 25px;
            font-size: x-small;
            
        }
        
    
        
        main{
        grid-area: main;

    }

    .mmain{
        text-align: center;
        margin-top: -42px;
    }

    a{
        text-decoration: none;
    }

    footer{
        grid-area: footer;
    }
   

    /* Home */
    #main{
        background-image: url(../img/office\ notebook.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 368px; 
        background-size:100%;
        margin-top: -86px;
        padding-top: 5px;
        padding-right: 200px;
    }
    
    
    #titulo{
        color: #fff;
        font-size: 12px;
    margin-top: 34%;
    }
    
    .pHome{
        color: #fff;
        font-size: 10px;
        
    }

    
    #indexFooter{
        display: flex;
        margin-top: 30px;
        gap: 20px ;
        justify-content: center;
    }
    
    .redes{
        text-align: center;
    }

    .fa-facebook{
        font-size:x-large;
    }
    
    .fa-twitter{
        font-size:x-large;
    }
    
    .fa-instagram{
        font-size:x-large;
    }
    
    .fa-whatsapp{
        font-size:x-large;
    }
    
    .fa-youtube{
        font-size:x-large;
    }

   /* Seccion Contabilidad */

   #ulGridContabilidad{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: "logo logo     logo         logo     logo"
                         "home nosotros contabilidad finanzas contacto";
    gap: 5%;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-right: 25px;
    font-size: x-small;
}

#home{
    
    grid-area: home;
          
    }

#nosotros{
    
    grid-area: nosotros;
              
        }

#contabilidad{
    
grid-area: contabilidad;
                  
}        


#finanzas{
    
    grid-area: finanzas;
          
    }

#contacto{
    
        grid-area: contacto;
              
        }

        #servicios{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 130px;
            margin-bottom: 70px;
        
        }
        
        #pContabilidad{
            margin-top: 67px;
            padding-left: 15px;
            padding-right: 15px;
           }
 
           #pLaboral{
            margin-top: 67px;
        }

        
.servicios{
    background-color: rgb(201, 188, 165);
    height: 380px;
    width: 300px;
    border-radius: 5px;
    color:#fff;
    text-align: center;
    margin: 5px;
    padding-top: 15px;

}

.servicios p{
    margin-block-start: 16px;
    margin-block-end: 1em ;
}

.separador{
    margin-top: -13px;
    }
    
    .primerP{
        margin-top: 19px;
    }
    
    .paddingP{
        padding-left: 15px;
        padding-right: 15px;
    }

   /* Sección Finanzas */

   #mainFinanzas{
       margin-top: 64px;
   }

   .tuBanco{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: larger;
}

.parrafo{
    font-family:'Dancing Script', cursive;
}

.programa{
    
    padding: 8px;
    background-color: black;
    color: #fff;
    border: 3px solid blueviolet
       
}

#finanzasFooter{
    
    display: block;
    margin-bottom: 20px;
    text-align: center;

}


#pFinanzasFooter{

    margin-bottom: 30px;
}

/* Sección Nosotros */

#imgNosotros{
    display: flex;
    flex-direction: column;
}

#containerNosotros{
    margin-top: 3%;
}

#figcaptionNosotros{
    display: none;
}

#ulSizeNosotros{
   font-size: small;
}

/* Sección Contacto */

#registroContacto{
    margin-bottom: 5%;
}

#sexo{
    margin-bottom: 5%;
}

#finalizar{
    margin-top: 2%;
    }

    #mainContacto{
        margin-top: 35px;
    }

    #terminos{
        margin-top: 5%;
    }



    /* Tablet */
    @media (min-width:768px){
     
     /* Estilos generales para Tablet */
     
     .logo{
        margin-right: -100px;
    }
    
    .margenIzquierdoHome{
        margin-left: 170px;
    }


    .ulFlex{
        display: flex;
        justify-content:space-around;
        align-items: center;
        list-style: none;
        padding-top: 8px;
        padding-bottom: 10px;
        margin-right: 57px;
        font-size: unset;
    }   
    
    /* Seccion Home */
    
    #main{
    margin-top: 69px;
    padding-top: 20px;
    }
    
    #titulo{
    font-size: 23px;
    margin-top: 3%;
    }

    .pHome{
        font-size: medium;
    }

      /* Seccion Contabilidad */
        
        #ulGridContabilidad{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 10fr auto auto     auto         auto     auto;
            grid-template-areas:  "logo home nosotros contabilidad finanzas contacto";
            gap: 5%;
            list-style: none;
            justify-content: center;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 10px;
            margin-right: 25px;
            font-size: unset;
        }

        #home{
    
            grid-area: home;
                  
            }
        
        #nosotros{
            
            grid-area: nosotros;
                      
                }
        
        #contabilidad{
            
        grid-area: contabilidad;
                          
        }        
        
        
        #finanzas{
            
            grid-area: finanzas;
                  
            }
        
        #contacto{
            
                grid-area: contacto;
                      
                }
        
        #servicios{
            display: flex;
            flex-direction: row;
            justify-content:center;
            margin-top: 130px;
            margin-bottom: 70px;
        
        }    

        .servicios{
            margin: 3px;
        }

        .logo{
            height: 50px;
            width: 200px;
            
            margin-left: 37px;
            grid-area: logo;
        }
     
        /* Sección Finanzas */
     
     #divOculto{
         visibility: hidden;
         display: none;
     }

     

     
     
     #videosFinanzas{
        display: flex;
        justify-content:space-around;
        gap: 2%;
        
    }

    /* Sección Nosotros */

    #imgNosotros{
        display: flex;
        flex-direction: row;
        margin-top: 12%;
        gap: 2%;
    }

    .figcaptionNosotros{
        display: none;
    }

    #figcaptionNosotros{
        display: unset;
        
        margin-left: -56%;
    }
    
    #containerNosotros{
    align-self: center;
         } 

    #imgTablet{
        width: 408px;
    }

    #ulSizeNosotros{
        font-size:unset;
     }

    /* Sección Contacto */

    #containerFormulario{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7%;
    }

    #sexo{
        margin-right: 16%;
        margin-bottom: 0;
    }
  
    #registroContacto{
        text-align: left;
    }

    #mainContacto{
        margin-top: -42px;
    }
 
    
}

     /* Desktop */
     @media (min-width:1024px) {
         
       /* Seccion Home */
        
       #main{
           margin-top: -94px;
           padding-top: 69px;
        }

       .divHome{
            margin-left: 18%;
        }
    
        .ulFlex{
            display: flex;
            justify-content:space-between;
            align-items: center;
            list-style: none;
            padding-top: 8px;
            padding-bottom: 10px;
            margin-right: 57px;
            font-size: unset;
        }
        
        .margenIzquierdoHome{
            margin-left: 95px;
        }
       
        #logoHome{
            margin-right: 125px;
        }
    
    
     /* Sección Contabilidad */
        #servicios{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 130px;
            margin-bottom: 70px;
        
        }    
     
    
     /* Sección Finanzas */
     
     
    
    #videosFinanzas{
        display: flex;
        justify-content:center;
        
    }
     
    #videosFinanzas div{
        width: 400px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    #divOculto{
        visibility:visible;
        display:unset;
    }
    
    #finanzasFooter{
    
        display:flex;
        flex-direction: column;
        text-align: center;
    
    }

    .programa{
        margin-left: 42%;
        width:15%;
    }
    
  /* Sección Nosotros */
    
  #imgTablet{
        width:auto;
    }
   
 /* Sección Contacto */
    
 #containerFormulario{
        
        gap: 13%;
    }

    #sexo{
        margin-right: 10%;
    }


}

    

   
